<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/fundo.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <form action="grid" method="post">
    <h1>Relatório</h1>
    <button type="submit" name="gerar_grid"> Gerar </button>
</form>
<table>
    <thead>
        <th>nome</th>
        <th>email</th>
        <th>telefone</th>
        <th>usuario</th>
    </thead>
    <tbody>
        <tr>
        {%if resultado%}
          {% for clientes in resultado%}
        <th>{{loop.index}}</th>
        <th>{{clientes[0]}}</th>
        <th>{{clientes[1]}}</th>
        <th>{{clientes[2]}}</th>
        <th>{{clientes[3]}}</th>
    </tr>
       {% endfor %}
    {%else%}
    <tr>
        <td>Nenhum resultado encontrado</td>
    </tr>
    {% endif %}
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
